<div class="carousel-window" role="region" aria-roledescription="carousel" aria-label="Code examples">

  <div class="carousel-titlebar">
    <span class="carousel-filename" id="carousel-filename">Hofstadter's MIU System</span>
    <div class="carousel-controls">
      <span class="wm-btn wm-min" aria-hidden="true"></span>
      <span class="wm-btn wm-max" aria-hidden="true"></span>
      <span class="wm-btn wm-cls" aria-hidden="true"></span>
    </div>
  </div>

  <div class="carousel-body">

    <!-- 1 · MIU -------------------------------------------------------------->
    <div id="panel-miu" class="carousel-slide active" role="group" aria-roledescription="slide" aria-label="1 of 3"
      aria-hidden="false" data-filename="Hofstadter's MIU System">
      <pre><span class="kwd">$Hypatia</span> <span class="dlc">Sifr</span> <span class="kwd">$:</span>
<span class="kwd">$Lingua</span> <span class="lng">MIU</span> <span class="kwd">$:</span>

  <span class="kwd">$Alphabetum</span> <span class="alp">M I U x y</span> <span class="kwd">$.</span>

  <span class="kwd">$Lexicon</span> <span class="lxc">M I U</span> <span class="kwd">$.</span>
  <span class="kwd">$Mutabilia</span> <span class="mtb">x y</span> <span class="kwd">$.</span>

  <span class="kwd">$Principium</span> <span class="sen">MI</span> <span class="kwd">$:</span> <span class="lxc">MI</span> <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">I</span>   <span class="kwd">$:</span> <span class="mtb">x</span><span class="lxc">I</span>    <span class="kwd">$-</span> <span class="mtb">x</span><span class="lxc">IU</span> <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">M</span>   <span class="kwd">$:</span> <span class="lxc">M</span><span class="mtb">x</span>    <span class="kwd">$-</span> <span class="lxc">M</span><span class="mtb">xx</span> <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">III</span> <span class="kwd">$:</span> <span class="mtb">x</span><span class="lxc">III</span><span class="mtb">y</span> <span class="kwd">$-</span> <span class="mtb">x</span><span class="lxc">U</span><span class="mtb">y</span> <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">UU</span>  <span class="kwd">$:</span> <span class="mtb">x</span><span class="lxc">UU</span><span class="mtb">y</span>  <span class="kwd">$-</span> <span class="mtb">xy</span>  <span class="kwd">$.</span>

  <span class="kwd">$Productum</span> <span class="sen">MIU</span> <span class="kwd">$:</span>
    <span class="lxc">MIU</span>
  <span class="kwd">$ex</span>
    <span class="kwd">$Probatione</span>
      <span class="kwd">$Assumo</span>    <span class="lxc">MI</span>        <span class="kwd">$per $Principium</span> <span class="sen">MI</span> <span class="kwd">$.</span>
      <span class="kwd">$Assumo</span>    <span class="lxc">MI</span> <span class="kwd">$-</span> <span class="lxc">MIU</span> <span class="kwd">$per $Regulam</span> <span class="sen">I</span> <span class="kwd">$cum</span> <span class="mtb">x</span> <span class="kwd">$=</span> <span class="str">M</span> <span class="kwd">$.</span>
      <span class="kwd">$Consequor</span>       <span class="lxc">MIU</span> <span class="kwd">$.</span>
    <span class="kwd">$.</span>
  <span class="kwd">$.</span>

<span class="kwd">$.</span> <span class="kwd">$.</span></pre>
    </div>
    <!------------------------------------------------------------------------->

    <!-- 2 · SKI -------------------------------------------------------------->
    <div id="panel-ski" class="carousel-slide" role="group" aria-roledescription="slide" aria-label="2 of 3"
      aria-hidden="true" data-filename="Schönfinkel's SKI Combinator Calculus">
      <pre><span class="kwd">$Hypatia</span> <span class="dlc">Sifr</span> <span class="kwd">$:</span>
<span class="kwd">$Lingua</span> <span class="lng">SKI</span> <span class="kwd">$:</span>

  <span class="kwd">$Alphabetum</span> <span class="alp">S K I x y z</span> <span class="kwd">$.</span>
  <span class="kwd">$Intervalla</span> <span class="int">\sp \th</span> <span class="kwd">$.</span>

  <span class="kwd">$Lexicon</span> <span class="lxc">S K I</span> <span class="kwd">$.</span>
  <span class="kwd">$Mutabilia</span> <span class="mtb">x y z</span> <span class="kwd">$.</span>

  <span class="kwd">$Regula</span> <span class="rat">I</span> <span class="kwd">$:</span> <span class="lxc">I</span> <span class="mtb">x</span>     <span class="kwd">$-</span> <span class="mtb">x</span>       <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">K</span> <span class="kwd">$:</span> <span class="lxc">K</span> <span class="mtb">x y</span>   <span class="kwd">$-</span> <span class="mtb">x</span>       <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">S</span> <span class="kwd">$:</span> <span class="lxc">S</span> <span class="mtb">x y z</span> <span class="kwd">$-</span> <span class="mtb">x z y z</span> <span class="kwd">$.</span>

  <span class="kwd">$Derivatio</span> <span class="sen">SKK2I</span> <span class="kwd">$:</span>
    <span class="lxc">S K</span> <span class="mtb">y z</span> <span class="kwd">$-</span> <span class="mtb">z</span>
  <span class="kwd">$ex</span>
    <span class="kwd">$Probatione</span>
      <span class="kwd">$Praemitto</span> <span class="lxc">S K</span> <span class="mtb">y z</span> <span class="kwd">$.</span>
      <span class="kwd">$Consequor</span> <span class="lxc">K</span> <span class="mtb">z y z</span> <span class="kwd">$ex $Regula</span> <span class="rat">S</span> <span class="kwd">$cum</span> <span class="mtb">x</span> <span class="kwd">$=</span> <span class="str">K</span> <span class="kwd">$.</span>
      <span class="kwd">$Consequor</span>   <span class="mtb">z</span>     <span class="kwd">$ex $Regula</span> <span class="rat">K</span> <span class="kwd">$cum</span> <span class="mtb">x</span> <span class="kwd">$=</span> <span class="str">z</span>
                                        <span class="kwd">$,</span>   <span class="mtb">y</span> <span class="kwd">$=</span> <span class="str">y z</span> <span class="kwd">$.</span>
    <span class="kwd">$.</span>
  <span class="kwd">$.</span>

<span class="kwd">$.</span> <span class="kwd">$.</span></pre>
    </div>
    <!------------------------------------------------------------------------->

    <!-- 3 · A::B ------------------------------------------------------------->
    <div id="panel-ab" class="carousel-slide" role="group" aria-roledescription="slide" aria-label="3 of 3"
      aria-hidden="true" data-filename="Taelin's A::B System">
      <pre><span class="kwd">$Hypatia</span> <span class="dlc">Sifr</span> <span class="kwd">$:</span>
<span class="kwd">$Lingua</span> <span class="lng">A::B</span> <span class="kwd">$:</span>

  <span class="kwd">$Alphabetum</span> <span class="alp">A B # x y</span> <span class="kwd">$.</span>
  <span class="kwd">$Intervalla</span> <span class="int">\sp \th</span> <span class="kwd">$.</span>

  <span class="kwd">$Lexicon</span> <span class="lxc">A# #A B# #B</span> <span class="kwd">$.</span>
  <span class="kwd">$Mutabilia</span> <span class="mtb">x y</span> <span class="kwd">$.</span>

  <span class="kwd">$Regula</span> <span class="rat">A##A</span> <span class="kwd">$:</span> <span class="mtb">x</span> <span class="lxc">A# #A</span> <span class="mtb">y</span> <span class="kwd">$-</span> <span class="mtb">x</span>       <span class="mtb">y</span> <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">B##B</span> <span class="kwd">$:</span> <span class="mtb">x</span> <span class="lxc">B# #B</span> <span class="mtb">y</span> <span class="kwd">$-</span> <span class="mtb">x</span>       <span class="mtb">y</span> <span class="kwd">$.</span>
  <span class="kwd">$Regula</span> <span class="rat">A##B</span> <span class="kwd">$:</span> <span class="mtb">x</span> <span class="lxc">A# #B</span> <span class="mtb">y</span> <span class="kwd">$-</span> <span class="mtb">x</span> <span class="lxc">#B A#</span> <span class="mtb">y</span> <span class="kwd">$.</span>

  <span class="kwd">$Derivatio</span> <span class="sen">Simp</span> <span class="kwd">$:</span>
    <span class="lxc">B# A# #B #A</span> <span class="kwd">$-</span> <span class="str">$Vacuum</span>
  <span class="kwd">$ex</span>
    <span class="kwd">$Probatione</span>
      <span class="kwd">$Praemitto</span> <span class="lxc">B# A# #B #A</span> <span class="kwd">$.</span>
      <span class="kwd">$Consequor</span> <span class="lxc">B# #B A# #A</span> <span class="kwd">$ex $Regula</span> <span class="rat">A##B</span>
                             <span class="kwd">$cum</span> <span class="mtb">x</span> <span class="kwd">$=</span> <span class="str">B#</span> <span class="kwd">$,</span> <span class="mtb">y</span> <span class="kwd">$=</span> <span class="str">#A</span> <span class="kwd">$.</span>
      <span class="kwd">$Consequor</span>       <span class="lxc">A# #A</span> <span class="kwd">$ex $Regula</span> <span class="rat">B##B</span>
                             <span class="kwd">$cum</span> <span class="mtb">x</span> <span class="kwd">$=</span> <span class="str">$Vacuum</span>
                             <span class="kwd">$,</span>   <span class="mtb">y</span> <span class="kwd">$=</span> <span class="str">A# #A</span> <span class="kwd">$.</span>
      <span class="kwd">$Consequor</span> <span class="str">$Vacuum</span>     <span class="kwd">$ex $Regula</span> <span class="rat">A##A</span>
                             <span class="kwd">$cum</span> <span class="mtb">x y</span> <span class="kwd">$=</span> <span class="str">$Vacuum</span> <span class="kwd">$.</span>
    <span class="kwd">$.</span>
  <span class="kwd">$.</span>

<span class="kwd">$.</span> <span class="kwd">$.</span></pre>
    </div>
    <!------------------------------------------------------------------------->

  </div>

  <div class="carousel-dots" role="group" aria-label="Example controls">
    <button class="carousel-dot active" type="button" data-index="0" aria-label="Show MIU example" aria-pressed="true">
    </button>
    <button class="carousel-dot" type="button" data-index="1" aria-label="Show SKI example" aria-pressed="false">
    </button>
    <button class="carousel-dot" type="button" data-index="2" aria-label="Show A::B example" aria-pressed="false">
    </button>
    <button class="carousel-pause" type="button" aria-pressed="false" aria-label="Pause automatic rotation">
      <span aria-hidden="true">||</span>
    </button>
  </div>

</div>
